# Backend Config
JWT_SECRET=super_secret_ordino_key_in_development_only
POSTGRES_USER=ordino_admin
POSTGRES_PASSWORD=ordino_password
POSTGRES_DB=ordino_db
DATABASE_URL=postgresql://ordino_admin:ordino_password@postgres-db:5432/ordino_db?schema=public
REDIS_URL=redis://redis-cache:6379

# Frontend Config
NEXT_PUBLIC_API_URL=http://localhost:3000
